{{#if details.urlPivots}}
  <h1 class="p-title">
      {{fa-icon "external-link-square" fixedWidth=true}}  Select a Search to Execute
  </h1>
  <div class="pivots">
    {{#each details.urlPivots as |pivot|}}
      {{#if pivot.name}}
        <div class="pivot-container">
          <div>
            <a class="p-link" title="{{pivot.url}}" href="{{pivot.url}}">{{pivot.name}}</a>
          </div>
          {{#if pivot.description}}
            <div class="p-footnote">
              {{pivot.description}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
